* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --font-size:36px;
  --font-size-p:14px;
  --font-size-p1:16px;
  --font-size-p2:18px;
  --font-size-p3: 24px;
}

.menu-mobile {
  display: none;
  background-color: gray;
  height: 100vh;
  width: 100%;
  top: 0;
  position: fixed;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 10;
  left: -100%;
}

.menu-mobile ul {
  text-align: center;
  margin-top: 90px;
}

.menu-mobile ul li {
  list-style: none;
  padding: 10px;
  position: relative;
}

.menu-mobile ul li a {
  font-size: 18px;
  text-decoration: none;
  font-family: 'MB';
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: relative;
}

.menu-mobile ul .li_active {
  opacity: 0.3;
}

.menu-mobile ul .li_active a {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.hamburger {
  display: none;
  z-index: 9;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hamburger__burger {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hamburger__burger::before, .hamburger__burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  display: block;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hamburger__burger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.hamburger__burger::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.hamburger.open .hamburger__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hamburger.open .hamburger__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.hamburger.open .hamburger__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.load-page {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #242f3f;
  z-index: 2000;
}

.load-page span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #333333;
  width: 45px;
  height: 45px;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  to {
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
}

@keyframes rotate {
  from {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  to {
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
}

.menu-fixed {
  display: none;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: gray;
  z-index: 10;
  border-bottom: 1px solid #fff;
}

.menu-fixed ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-fixed ul li {
  list-style: none;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.menu-fixed ul li a {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  font-family: 'MB';
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-fixed ul li a::after {
  content: '';
  width: 0%;
  left: 0;
  height: 1.5px;
  bottom: -5px;
  position: absolute;
  display: block;
  background: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-fixed ul li img {
  width: 60px;
}

.menu-fixed ul li:hover a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-fixed ul li:hover a::after {
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.language {
  position: absolute;
  display: none;
  z-index: 1;
}

.language_ul li {
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.language_ul li a {
  font-size: 12px;
  font-family: "OR";
  color: #000 !important;
}

.language_ul li:hover {
  background: gray;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.language_ul li:hover a {
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slide {
  position: relative;
}

.slide .container {
  position: absolute;
  text-align: center;
  z-index: 100;
  left: 50%;
  margin: auto;
  max-width: 1170px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide .container .row {
  margin: 15px;
}

.slide .container .row .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide .container .row .header__top .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide .container .row .header__top .search a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-right: 30px;
  font-family: "MB";
  position: relative;
}

.slide .container .row .header__top .search a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slide .container .row .header__top .search a:hover {
  color: #000000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slide .container .row .header__top .search a:hover::after {
  right: 0;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slide .container .row .header__top .line {
  margin: 0 20px;
  position: relative;
}

.slide .container .row .header__top .line span {
  content: '';
  position: absolute;
  height: 22px;
  width: 1px;
  display: block;
  background-color: #ffffff;
  top: -10px;
}

.slide .container .row .header__top .lang p {
  color: #fff;
  position: relative;
  font-size: va(--font-size-p);
  font-family: "MB";
}

.slide .container .row .header__top .lang p::after {
  content: '';
  position: absolute;
  width: 45%;
  height: 1px;
  background-color: #fff;
  bottom: -5px;
  left: 0;
}

.slide .container .row .header__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide .container .row .header__bot .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide .container .row .header__bot .menu ul li {
  list-style: none;
  padding: 0 10px;
}

.slide .container .row .header__bot .menu ul li a {
  text-decoration: none;
  font-size: var(--font-size-p1);
  color: #fff;
  font-family: "MB";
  position: relative;
}

.slide .container .row .header__bot .menu ul li a::after {
  content: '';
  width: 0%;
  height: 1.5px;
  right: 0;
  margin: auto;
  left: 0;
  display: block;
  position: absolute;
  background: #ffffff;
  -webkit-transition: all .4s;
  transition: all .4s;
  bottom: -5px;
}

.slide .container .row .header__bot .menu ul li .a-list {
  padding-right: 5px;
}

.slide .container .row .header__bot .menu ul li:hover a::after {
  width: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.slide .container .row .header__bot .menu ul .li {
  cursor: pointer;
}

.slide .container .row .header__bot .menu ul .active {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slide .container .row .header__bot .menu .language {
  background-color: #fff;
}

.slide .container .row .header__bot .menu .language_ul {
  display: block;
  width: 149px;
  background: #fff;
  position: absolute;
}

.slide .container .row .header__bot .menu .language_ul li {
  text-align: left;
}

.slide .container .row .header__bot .menu .language_ul li p {
  font-size: var(--font-size-p1);
  color: #000;
}

.slide .title {
  position: absolute;
  z-index: 8;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slide .title .text h1 {
  font-size: 40px;
  color: #fff;
  font-family: 'MB';
}

.slide .title .btn {
  text-align: center;
  cursor: pointer;
}

.slide .title .btn__d {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  margin-top: 40px;
}

.slide .title .btn__d a {
  position: relative;
  padding: 10px 28px;
  border: 1px solid #fff;
  text-decoration: none;
  font-size: var(--font-size-p1);
  text-align: center;
  letter-spacing: 1px;
  font-family: "MB";
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fff;
}

.slide .title .btn__d a::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  width: 0;
  right: 0;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
  -webkit-transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slide .title .btn__d a:hover {
  color: #000000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slide .title .btn__d a:hover::after {
  left: 0;
  width: 100%;
  -webkit-transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.button {
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}

.button__d {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.button__d a {
  position: relative;
  padding: 10px 28px;
  border: 1px solid #323232;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  font-family: "MB";
  letter-spacing: 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #000000;
}

.button__d a::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  width: 0;
  right: 0;
  height: 100%;
  background-color: #000000;
  z-index: -1;
  -webkit-transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.button__d a:hover {
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button__d a:hover::after {
  left: 0;
  width: 100%;
  -webkit-transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.about__title {
  margin: 70px 0 50px 0;
}

.about__title p {
  font-size: var(--font-size-p1);
  color: #000000;
  font-family: "OB";
}

.about__title h3 {
  font-size: var(--font-size);
  margin: 25px 0 60px 0;
  color: #000000;
  text-transform: uppercase;
  font-family: "MB";
}

.about__title .p1 {
  line-height: 1.5rem;
  font-family: 'OR';
}

.about .image {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  max-height: 341px;
}

.about .image_d .img1 {
  background-color: black;
}

.about .image_d img {
  width: 100%;
  max-width: 100%;
}

.about .image_d .play {
  width: 57px;
  height: 61px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about .image::after {
  content: '';
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all .6s;
  transition: all .6s;
  z-index: 1;
}

.about .image:hover::after {
  opacity: .8;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.about .image:hover .play {
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.video_about {
  z-index: 999;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 300vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000;
}

.video_about-d {
  position: relative;
  width: 1000px;
  height: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video_about-d .line {
  position: absolute;
  cursor: pointer;
  right: -50px;
  top: -30px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.video_about-d .line span {
  content: '';
  width: 35px;
  height: 5px;
  display: block;
}

.video_about-d .line .line-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
  position: relative;
  top: 5px;
  bottom: 2px;
}

.video_about-d .line .line-2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #fff;
}

.video_about-d .line:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.video_about-d iframe {
  width: 100%;
  height: 100%;
}

.video_active {
  display: block;
}

.season .item {
  text-align: center;
}

.season .title {
  margin: 70px 0;
  text-align: center;
}

.season .title p {
  font-size: var(--font-size-p1);
  color: #000000;
  font-family: "OB";
}

.season .title h3 {
  font-size: var(--font-size);
  color: #000000;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: "MB";
}

.season .logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.season .logo p {
  font-size: var(--font-size-p2);
  padding-top: 15px;
  color: #000000;
  font-family: 'MM';
}

.season .slowgan {
  font-size: var(--font-size-p1);
  color: #000000;
  line-height: 1.5rem;
  margin: 50px 0 95px 0;
  font-family: 'OR';
}

.Featured {
  background-color: #f7f5f4;
  padding-bottom: 70px;
}

.Featured .title {
  margin: 50px 0;
}

.Featured .product {
  text-align: center;
}

.Featured .product .img1 {
  max-height: 353.89px;
}

.Featured .product_img {
  overflow: hidden;
  cursor: pointer;
}

.Featured .product_img img {
  width: 100%;
  max-width: 100%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.Featured .product_img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.Featured .product p {
  line-height: 1.5rem;
  font-size: var(--font-size-p1);
  color: #000000;
  padding: 20px 0;
  font-family: 'OB';
}

.Featured .product #p1 {
  font-family: 'OR';
}

.Featured .product h3 {
  font-size: var(--font-size);
  color: #000000;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'MB';
}

.item {
  text-align: center;
}

.Project {
  background-color: #ffffff;
  padding-bottom: 60px;
}

.Project .title {
  margin: 50px 0;
}

.Project .Project1 {
  text-align: center;
  position: relative;
}

.Project .Project1_img {
  overflow: hidden;
  cursor: pointer;
  max-height: 376px;
}

.Project .Project1_img img {
  width: 100%;
  max-width: 100%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.Project .Project1_img .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Project .Project1_img .text p {
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-family: 'MB';
}

.Project .Project1_img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.Project .Project1_img:hover p {
  opacity: 1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.Project .Project1 h3 {
  font-size: var(--font-size);
  color: #000000;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'OB';
}

.Project .Project1 p {
  font-family: 'OB';
}

.News {
  background-color: #f7f5f4;
  padding: 70px 0;
}

.News .title p {
  font-size: var(--font-size-p1);
  color: #000000;
  font-family: 'OB';
}

.News .title h3 {
  font-size: var(--font-size);
  color: #000000;
  margin-top: 20px;
  text-transform: uppercase;
  padding-bottom: 50px;
  font-family: 'MB';
}

.News .content {
  background: #ffffff;
}

.News .content .image img {
  width: 100%;
  max-width: 100%;
}

.News .content .text {
  padding: 25px;
}

.News .content .text p {
  font-size: var(--font-size-p);
  color: #000000;
  line-height: 1.5rem;
  font-family: "OSB";
}

.News .content .text h6 {
  font-size: var(--font-size-p2);
  line-height: 1.5rem;
  color: #000000;
  padding: 20px 0 40px 0;
  font-family: "MS";
}

.News .content_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.News .content_detail img {
  margin-left: 10px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.News .content_detail:hover img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.btnNews {
  text-align: left;
  margin-top: 40px;
  cursor: pointer;
}

.btnNews__d {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.btnNews__d a {
  position: relative;
  padding: 10px 28px;
  border: 1px solid #000000;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-family: "MB";
  color: #000000;
  z-index: 2 !important;
}

.btnNews__d a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #000000;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btnNews__d:hover a {
  color: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btnNews__d:hover a::after {
  left: 0;
  width: 100%;
  -webkit-transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.content1 .item {
  max-height: 181px;
}

.content1 .text {
  line-height: 1rem;
}

.content1 .text_d {
  padding: 15px 15px 15px 30px;
}

.content1 .text_d p {
  font-size: var(--font-size-p);
  color: #000000;
  font-family: "OSB";
}

.content1 .text_d h6 {
  font-size: var(--font-size-p2);
  color: #000000;
  line-height: 1.5rem;
  font-family: "OR";
  margin-top: 10px;
}

.content1 .text_d .detail {
  padding-top: 13px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content1 .text_d .detail p {
  font-size: var(--font-size-p1);
  color: #000000;
}

.content1 .text_d .detail img {
  margin-left: 10px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.content1 .text_d .detail:hover img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.item-2 {
  margin: 20px 0;
}

.BacktoTop {
  opacity: 0;
  cursor: pointer;
  position: fixed;
  top: 80%;
  right: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer {
  background-color: #000000;
}

footer .row-footer {
  padding-top: 80px;
}

footer .item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

footer .item-footer p {
  padding-left: 20px;
  color: #fff;
  font-size: var(--font-size-p1);
  font-family: "OR";
}

footer .logo {
  margin-bottom: 40px;
}

footer h5 {
  color: #fff;
  font-size: var(--font-size-p3);
  text-transform: uppercase;
  font-family: "MB";
}

footer .btn-footer {
  text-align: left;
}

.image_footer img {
  width: 100%;
  max-width: 100%;
}

.button1 {
  text-align: left;
  margin-top: 40px;
  cursor: pointer;
}

.button1__d {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.button1__d a {
  position: relative;
  padding: 10px 28px;
  border: 1px solid #ffffff;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-family: "MB";
  color: #ffffff;
  z-index: 2 !important;
}

.button1__d a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button1__d:hover a {
  color: #000000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button1__d:hover a::after {
  right: 0;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hr {
  position: relative;
  padding: 65px 0 55px 0;
}

.hr span {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #ffffff;
  width: 100%;
  display: block;
}

.row-list .list .title {
  margin-bottom: 30px;
}

.row-list .list ul li {
  list-style: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.row-list .list ul li a {
  text-decoration: none;
  line-height: 2rem;
  color: #ffffff;
  font-family: 'OR';
  font-size: var(--font-size-p1);
}

.row-list .list ul li:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.Copyright {
  margin-top: 75px;
  text-align: center;
  font-family: 'OR';
  margin-bottom: 15px;
}

.Copyright p {
  color: #959595;
  font-size: var(--font-size-p1);
  letter-spacing: 1px;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  :root {
    --font-size:30px;
    --font-size-p: 12px;
    --font-size-p1:14px;
    --font-size-p2:16px;
    --font-size-p3:20px;
  }
  .menu-mobile, .hamburger {
    display: block;
  }
  .active {
    left: 0;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    overflow: hidden;
  }
  .menu-fixed {
    display: none !important;
  }
  .slide .container {
    height: 64px;
  }
  .slide .container .row .header__bot {
    display: none;
  }
  .slide .container .row .header__top {
    display: none;
  }
  .slide .container .title .text h1 {
    font-size: 34px;
  }
  .slide .container .title .btn__d {
    margin-top: 20px;
  }
  .slide .container .title .btn__d a {
    padding: 10px 20px;
  }
  .slide-et {
    height: 400px;
  }
  .slide-et .item-et {
    height: 400px;
  }
  .about .image_d .play {
    width: 40px;
    height: 40px;
    opacity: 1;
  }
  .about-img {
    margin-top: 15px;
  }
  .season .item {
    padding: 15px 0;
  }
  .season .title {
    margin: 50px 0;
  }
  .season .slowgan {
    padding: 0 15px;
    margin: 40px 0 80px 0;
  }
  .season .logo img {
    width: 120px;
  }
  .Project .Project1_img {
    margin: 15px 0;
    max-height: 580px;
    max-width: 396px;
  }
  .News .content {
    margin-bottom: 20px;
  }
  .News .content .text {
    padding: 20px;
  }
  .News .content .text h6 {
    padding: 15px 0 30px 0;
  }
  .News .content_detail {
    margin-top: 25px;
  }
  .content1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content1 .text_d {
    padding: 20px;
  }
  .image_footer {
    margin-top: 30px;
  }
  .hr {
    padding: 50px 0;
  }
  .Copyright {
    margin-top: 60px;
    margin-bottom: 15px;
  }
  .video_about-d {
    width: 300px;
    height: 300px;
  }
  .video_about-d .line {
    right: -20px;
    top: -45px;
  }
  .item-et img {
    height: 100%;
  }
  .flickity-page-dots {
    bottom: 20px !important;
  }
  .flickity-page-dots .dot {
    width: 7px !important;
    height: 7px !important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 500px) {
  :root {
    --font-size:32px;
    --font-size-p: 13px;
    --font-size-p1:15px;
    --font-size-p2:17px;
    --font-size-p3:22px;
  }
  .hamburger {
    display: none;
  }
  .menu-fixed {
    display: none;
  }
  .header__bot, .header__top {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */